/* general rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.2rem;
}



a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
}

/* end general rules */
/* content header */
.containerh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: aliceblue;
    max-width: 1550px;
    background-color: rgba(51, 97, 225, 0);
}



.menu {
    display: flex;
    align-items: center;
}


.containerh>div {
    padding: 5px;
}

header {
    background-image: url(../img_discord/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.sing-up {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    color: hsl(206deg 9% 15%);
    background-color: rgb(255, 255, 255);
    border: 0px;
}



.action-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 30px;
}

.action {
    margin: 10px;
}

.broswser {
    background-color: black;
    color: aliceblue;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 160px 70px 70px 70px;
    color: aliceblue;

}

.mac {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 1px aliceblue;
    background-color: aliceblue;
}

/* end content header */
/* content main */
.container {
    display: flex;
    flex-direction: column;
}

h2 {
    line-height: 1;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;

}

.title-flex {
    font-weight: 900;
    font-size: xx-large;
}

.text-of-flex {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
    max-width: 250px;
}

.text-of-flex>* {
    padding: 10px;
    text-align: left;
}

.grey {
    background-color: #f6f6f6;
}

.flex-footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.flex-footer-p {
    max-width: 1200px;
    padding: 90px;
}

#p-flex {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.mac-main {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: 1px aliceblue;
    background-color: hsl(226deg 58% 72%);
    color: aliceblue;
    font-size: large;
}

h1 {
    padding: 30px;
    font-weight: 900;
    font-size: xx-large;
}

.wave-1hkxOo-midle {
    background-color: #f6f6f6;

}

/* Content footer */
.containerf {
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    padding-top: 50px;
    margin: 0 auto;
    max-width: 1550px;

}

hr {
    max-width: 1550px;
    margin: 0 auto;
}

footer {
    background-color: hsl(206deg 9% 15%);
    color: aliceblue;
}

.footer-menu {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    max-width: 1550px;
    align-items: center;
    margin: 0 auto;
    padding: 10px;

}

.footer-button {
    width: 90px;
    height: 40px;
    border-radius: 20px;
    color: aliceblue;
    background-color: hsl(226deg 58% 72%);
    border: 0px;
}

h3,
#footer-h2 {
    color: hsl(226deg 49% 61%);
    padding-bottom: 10px;
}

#language {
    width: 20px;
}

.footer-span {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

/* end content footer */